<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/355c5d08-5e1a-46c0-97bf-62e9c4b9c7e6/resourcegroups/WasfaAPI/providers/Microsoft.Web/sites/FoodAPIv120210702153043</ResourceId>
    <ResourceGroup>WasfaAPI</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://foodapiv120210702153043.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>foodapiv120210702153043.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FoodAPIv120210702153043</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FoodAPIv120210702153043</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FoodEntitiesOnline" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=foodDB4411.mssql.somee.com;Initial Catalog=foodDB4411;Persist Security Info=False;User ID=M_Emad4411_SQLLogin_1;Password=gnha2tlvtz;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FoodEntitiesOnline_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/FoodDataModel.csdl|res://*/FoodDataModel.ssdl|res://*/FoodDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=foodDB4411.mssql.somee.com;user id=M_Emad4411_SQLLogin_1;pwd=gnha2tlvtz;persist security info=False;initial catalog=foodDB4411;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FoodAPIv1Entities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=foodDB4411.mssql.somee.com;Initial Catalog=foodDB4411;Persist Security Info=False;User ID=M_Emad4411_SQLLogin_1;Password=gnha2tlvtz;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FoodAPIv1Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/FoodAPIv1.csdl|res://*/FoodAPIv1.ssdl|res://*/FoodAPIv1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=foodDB4411.mssql.somee.com;initial catalog=foodDB4411;persist security info=False;user id=M_Emad4411_SQLLogin_1;password=gnha2tlvtz;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FoodAPIEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=foodDB4411.mssql.somee.com;Initial Catalog=foodDB4411;Persist Security Info=False;User ID=M_Emad4411_SQLLogin_1;Password=gnha2tlvtz;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FoodAPIEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/FoodAPIv1.csdl|res://*/FoodAPIv1.ssdl|res://*/FoodAPIv1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=foodDB4411.mssql.somee.com;initial catalog=foodDB4411;persist security info=False;user id=M_Emad4411_SQLLogin_1;password=gnha2tlvtz;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FoodOnEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=foodDB4411.mssql.somee.com;Initial Catalog=foodDB4411;Persist Security Info=False;User ID=M_Emad4411_SQLLogin_1;Password=gnha2tlvtz;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FoodOnEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/FoodAPIv1.csdl|res://*/FoodAPIv1.ssdl|res://*/FoodAPIv1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=foodDB4411.mssql.somee.com;initial catalog=foodDB4411;persist security info=False;user id=M_Emad4411_SQLLogin_1;password=gnha2tlvtz;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FoodEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=foodDB4411.mssql.somee.com;Initial Catalog=foodDB4411;Persist Security Info=False;User ID=M_Emad4411_SQLLogin_1;Password=gnha2tlvtz;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FoodEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/FoodDataModel.csdl|res://*/FoodDataModel.ssdl|res://*/FoodDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=foodDB4411.mssql.somee.com;initial catalog=foodDB4411;persist security info=False;user id=M_Emad4411_SQLLogin_1;password=gnha2tlvtz;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\FoodAPIv1.Models.FoodAPIContext.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/FoodDataModel.csdl|res://*/FoodDataModel.ssdl|res://*/FoodDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\FoodAPIv1.Models.FoodAPIContext.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FoodAPIEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FoodAPIv1Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FoodEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FoodEntitiesOnline-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FoodOnEntities-Web.config Connection String" />
  </ItemGroup>
</Project>